{% extends 'base.html' %}
{% block title %}Загрузить задание - SECNet{% endblock %}
{% block content %}
    <h1 class="text-3xl font-semibold text-center mb-12">Загрузить задание</h1>
    <div class="bg-white p-6 rounded-lg shadow-md max-w-lg mx-auto">
        <form method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}
            <div>{{ form.as_p }}</div>
            <button type="submit" class="bg-blue-600 text-white py-2 px-6 rounded hover:bg-blue-700">Загрузить</button>
        </form>
        <a href="{% url 'home' %}" class="block text-center mt-4 text-blue-600 hover:underline">Назад</a>
    </div>
{% endblock %}